@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Paytone+One&family=Roboto&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    font-size: 16px;
    --mark-size: 90%;
    --background-color: #fff1f2;
    --text-color: #be123c;
    --board-color: #e11d48;
    --player-move: #fb7185;
}

body > h1{
    margin-top: 10px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    color: var(--text-color);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    background-color: var(--background-color);
}

.game-container{
    z-index: 2;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell{
    height: 100%;
    width: 100%;
    border: 3px solid var(--board-color);
    color: var(--player-move);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3n + 1){
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

.cell:hover{
    cursor: pointer;
}

.display-winner{
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100vw;
    position: absolute;
    color: rgba(255, 255, 255, 0.85);
    font-size: 5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    z-index: 10;
}

.display-winner.active{
    transition: 350ms;
    opacity: 1;
    pointer-events: all;
}

.winner{
    height: 100px;
    width: 250px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.reset{
    outline: none;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
}

.reset:hover{
    transition: 200ms;
    transform: scale(1.1);

}