@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Paytone+One&family=Roboto&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    font-size: 16px;
    --mark-size: 90%;
    --background-color: #fff1f2;
    --text-color: #be123c;
    --board-color: #e11d48;
    --player-move: #fb7185;
    --selected-cells: #fecdd3;
}

.title-page.active > .text{
    margin-top: 10px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
    color: var(--text-color);
    grid-column: span 2;
    padding: 0;
}

.text > h1{
    font-family: 'Pacifico', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-bottom: 0;
}

.text > p{
    font-size: 2rem;
    font-weight: 700;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    background-color: var(--background-color);
}

.title-page.active{
    opacity: 1;
    pointer-events: all;
    position: fixed;
    z-index: 5;
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.title-page{
    position: fixed;
    transition: 350ms;
    transition-timing-function: ease;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}

.first-button{
    display: flex;
    justify-content: flex-end;
}

.second-button{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.second-button > p{
    margin-top: 5px;
    margin-left: 42.5px;
    width: 110px;
    color: rgba(0, 0, 0, 0.50);
}

.player-2{
    height: 50px;
    width: 125px;
    border-radius: 10px;
    background-color: var(--selected-cells);
    border: 5px solid var(--board-color);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    margin-top: 50px;
    transition: 250ms;
    margin-right: 35px;
}

.player-2:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.ai-player{
    height: 50px;
    width: 125px;
    border-radius: 10px;
    background-color: var(--selected-cells);
    border: 5px solid var(--board-color);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    opacity: 0.5; 
    margin-top: 50px;
    margin-left: 35px;  
}

.game-container{
    z-index: 2;
    box-sizing: border-box;
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell{
    height: 100%;
    width: 100%;
    border: 3px solid var(--board-color);
    color: var(--player-move);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
}

.selected-cells{
    background-color: var(--selected-cells);
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3n + 1){
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

.cell:hover{
    cursor: pointer;
}

.display-winner{
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100vw;
    position: absolute;
    color: rgba(255, 255, 255, 0.85);
    font-size: 5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    z-index: 10;
    transition: 350ms;
    transition-timing-function: ease-in-out;
}

.display-winner.active{
    transition: 350ms;
    transition-timing-function: ease-in-out;
    opacity: 1;
    pointer-events: all;
}

.winner{
    height: 100px;
    width: 250px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.reset{
    font-family: 'Pacifico', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
}

.reset:hover{
    transition: 200ms;
    transform: scale(1.1);

}